body {
    background-color: #1e1b4b;
}
h1{
    font-family: "Cinzel", serif;
    color:#ffd700;
    text-align:center;
    text-decoration:underline;
    letter-spacing:3px;
    text-shadow:
        2px 2px 5px rgba(0,0,0,0.8),
        0 0 15px rgba(255,215,0,0.5);

}
h2{
    font-family: "Cinzel", serif;
    color:#ffd700;
    text-decoration:underline;
}
h3{
    font-family: "Cinzel", serif;
    color:#ffd700;
    text-decoration:underline;
}
p{
    color:#F9FAFB;
    font-size: 22px;

}
nav{
    background-color: #1a1a4d;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #ffd700;
    border-bottom: 2px solid #ffd700;
}
nav a {
    color: white;
    text-decoration:none;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    background-color: #29245f;
    box-shadow: 0 px 10px rgba(0,0,0,0.4);
}
nav a:hover{
    background-color: #ffd700;
    color: #1a1a4d;
    box-shadow: 0 0 15px #ffd700;
    transform: translateY(-3px);
}
p strong {
    color: #ffd700;
    font-weight: bold;

}
li {
    color: white;
    font-weight: bold;
    text-align:left;
    font-weight: 350px;
    font-size: 25px;
}
.atores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.ator{
    width: 280px;
    background: #232323;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}
.ator img{
    width: 180px;
    height: 240px;
    object-fit: cover;
    border: 3px solid gold;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ator h2{
    color: #f5c518;
    margin-bottom: 15px;
    font-size: 28px;
}
.ator p{
    color: white;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
}
.filmes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.filme{
    width: 280px;
    background: #232323;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}
.filme > img {
    width: 180px;
    height: 240px;
    object-fit: cover;
    border: 3px solid gold;
    border-radius: 10px;
    margin-bottom: 15px;
}
.filme > h2 {
    color: #f5c518;
    margin-bottom: 15px;
    font-size: 28px;
}
.filme p {
     color: white;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
}
h3 ~ p {
    text-align: justify;
}
main h2 + p {
    margin-bottom: 30px;
    text-align: justify;
}
